/* nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
} */

nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #30363d;
  background-color: #0d1117;
  padding: 20px;
}

nav img {
  height: 50px;
  border-radius: 100%;
}
nav div {
  display: flex;
}

nav h3 {
  margin-left: 15px;
  color: white;
}

nav p {
  margin-left: 50px;
  font-weight: bold;
  color: white;
}
nav h3:hover,
nav p:hover {
  text-decoration: underline;
}