

.profile-page-wrapper {
   
  /* display: flex;
  min-height: 100vh;
  color: whitesmoke;
  width: 100%; */
   display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px;
  gap: 40px;
 

}
.name h3 {
  font-size: 28px;
  font-weight: 600;
  margin-top: 20px;
}

.user-profile-section {
  /* width: 250px; */
    width: 320px;
  padding: 30px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 40px 10px;
}

.user-repo-section {
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
}

.user-name {
  /* width: 250px; */
  margin: 10px 20px 10px 10px;
  /* margin: 10px auto; */
}

.profile-image {
  /* margin: 10px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: grey; */
   width: 280px;
  height: 280px;
  border-radius: 50%;
  margin: 0 auto;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
object-fit: cover;
  border: 1px solid #30363d;
}

.follow-btn {
  background-color: #20272d;
  width: 250px;
  margin: 10px auto;
  height: 40px;
  border-radius: 10px;
  color: whitesmoke;
}

.follower {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 30px;
  gap: 10px;
  margin: 10px auto;
}

.repo-card-wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 20px;
}

.repo {
  border: 0.5px solid grey;
  border-radius: 10px;
  width: 400px;
  height: 210px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.repo-name {
  cursor: pointer;
  color: #408ced;
  font-size: 20px;
}

.description {
  color: grey;
  font-size: 15px;
}

@media screen and (max-width: 750px) {
  .repo {
    width: 100%;
  }
}

@media screen and (max-width: 570px) {
  .user-profile-section {
    margin: auto;
  }

  .profile-page-wrapper {
    display: block;
  }
}

#logout:hover {
  border: 1px solid white;
}

/* .UnderlineNav-item {
  color: white !important;
} */


a[class*="UnderlineItem"] {
  color: white !important;
}

a[class*="UnderlineItem"] span {
  color: white !important;
}

a[class*="UnderlineItem"] svg {
  color: white !important;
}


.heat-map-section {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.contribution-card {
  border: 1px solid #30363d;
  border-radius: 10px;
  padding: 20px;
  background-color: #0d1117;
   width:100%;
  max-width:1200px;
  overflow-x:auto;
}


#logout:hover{
border: 1px solid white;
}
#logout {
  margin-right: 30px;
}